* {
    scrollbar-color: #98a7e9 #20212f;
    scrollbar-width: thin;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px; /* for Chrome, Safari, and Opera */
}}

/* Track */
::-webkit-scrollbar-track {
  background: black; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98a7e9; /* color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7987c0; /* color of the handle on hover */
}

html {
	width: 100vw;
  height: 100vh;
	background: rgb(52,64,122);
	background: linear-gradient(180deg, rgba(52,64,122,1) 0%, rgba(24,25,34,1) 15%);
}

body {
	position: relative;
	display: flex;
	color: white;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 1%;
	overflow: hidden;
}

p {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul {
	list-style: none;
}

#bg_svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -9999;
}

.btn {
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background: #4357af;
	border-radius: 5%;
	border: 1px solid #98a7e9;
}

.btn:hover {
	background: #546cdb;
	cursor: pointer;
}

.by {
	position: absolute;
	top: 1%;
	left: 1%;
}

.version {
	font-size: 75%;
}

.success_rate_big {
	position: absolute;
	display: block;
	top: 50%;
	left: 2%;
	transform: translate(0%, -50%);
	font-size: 130%;
}

.enhance_area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: calc(99% - 36px);
	margin-top: 36px;
	max-width: 700px;
	background: #20212f;
	padding: 0.5% 1%;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid #98a7e9;
}

.item_slot {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin: 4px 0px 6px 0px;
	cursor: pointer;
	background: #2c2e45;
	border: 1px solid #98a7e9;
	border-radius: 5%;
}

.item_slot_icon {
	width: 80px;
	height: 80px;
}

.item_slot_icon > svg {
	width: 100%;
	height: 100%;
	padding: 15%;
}

.slot_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	opacity: 0.5;
	pointer-events: none;
}

.sel_item {
	border: 1px solid #98a7e9;
	background-color: #2c2e45;
	color: white;
}

.sel_item_container {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 5px;
	display: none;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	padding: 6px;
	overflow: hidden;
	border: 1px solid #98a7e9;
	background-color: #131419;
	z-index: 2;
	cursor: default;
}

.close {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 6px;
	right: 6px;
	width: 21px;
	height: 21px;
	background: #4357af;
	border-radius: 5%;
	border: 1px solid #98a7e9;
}

.sel_item_text {
	position: absolute;
	top: 6px;
	left: 6px;
}

.sel_item_filter {
	width: 100%;
	height: 24px;
	margin-top: 25px;
	margin-bottom: 8px;
}

.sel_item_icons {
	display: grid;
	grid-template-columns: repeat(4, 54px);
	grid-auto-rows: 54px;
	grid-gap: 4px;
	width: 242px;
	height: 300px;
	overflow-y:auto;
}

.sel_item_icons > div {
	background: #2c2e45;
	border-radius: 5%;
}

.sel_item_icons > div:hover {
	border: 1px solid #98a7e9;
	cursor: pointer;
}

.sel_item_icons > div > svg {
	width: 100%;
	height: 100%;
	padding: 15%;
}

.sel_item_div{
	position: relative;
}

.item_stats {
	display: none;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 1% 0%;
	border-top: 1px solid #98a7e9;
}

.side {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	height: 100%;
}

.side > div > input {
	width: 78px;
	margin: 0% 2%;
}

.r_side {
	justify-content: flex-start;
}

.r_stat_cell {
	display: none;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: fit-content;
	margin-top: 2%;
}

.r_stat_cell_half {
	display: flex;
	flex: 1;
	height: 100%;
}

.r_stat_cell_half_r {
	justify-content: flex-start;
}

.r_stat_cell_half_l {
	justify-content: flex-end;
}

.mat_icon {
	width: 24px;
	height: 24px;
}

.mat_icon > svg {
	width: 100%;
	height: 100%;
}

.l_stat_cell {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 24px;
	margin-top: 2%;
}

.l_stat_cell > p {
	margin-right: 3%;
}

.bonuses {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 1% 0%;
	border-top: 1px solid #98a7e9;
}

.bonuses_cell {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 33%;
	height: 48px;
	margin: 4px 0px;
}

.bonuses_cell > input {
	width: 82px;
}

.se_tea {
	color: white;
	border: 1px solid #98a7e9;
	background: #20212f;
}

.tea_slot{}
.tea_sel{}

.tea_sel_text {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 5%);
	text-align: center;
	opacity: 0.5;
	pointer-events: none;
	font-size: 12px;
}

.selected_tea {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
	aspect-ratio: 1/1;
	padding: 1%;
}

.selected_tea > svg {
	width: auto;
	height: 90%;
	aspect-ratio: 1/1;
}

.select_tea_slot {
	position: relative;
	width: auto;
	height: 100%;
	aspect-ratio: 1/1;
	border: 1px solid #98a7e9;
	border-radius: 5%;
	cursor: pointer;
	margin: 0% 4px;
}

.select_tea_slot > svg {
	width: 100%;
	height: 100%;
	padding: 15%;
}

.tea_slot_text {
	position: asbsolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	opacity: 0.5;
	pointer-events: none;
}

.selected_tea_x {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	top: 0;
	right: 0;
	font-size: 73%;
}

.selected_teas {
	flex-direction: row;
	justify-content: center;
}

.result {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 1% 0%;
	border-top: 1px solid #98a7e9;
	border-bottom: 1px solid #98a7e9;
	font-size: 120%;
}

.result > P {
	margin: 0% 2%;
}

.result_title {
	font-size: 140%;
	font-weight: bold;
}

.result_cell {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: fit-content;
}

.result_cell_inner {
	display: flex;
	justify-content: center;
	flex: 1;
	height: 26px;
}

.result_cell_inner_icon {
	width: 26px;
	height: 26px;
}

.result_cell_inner_icon > svg {
	width: 26px;
	height: 26px;
}

.result_cell_inner > p:nth-child(2) {
	margin: 0% 3%;
}

.calculating {
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 200%;
	background: #20212f;
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	padding: 1%;
	padding-bottom: 0%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 74px;
	height: 38px;
	margin: 0% 1%;
}

.success_rate_btn {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	width: 108px;
	height: 28px;
	top: 1%;
	right: 1%;
	background: #4357af;
	border-radius: 5%;
	border: 1px solid #98a7e9;
}

.success_rate_list {}

.menu_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: black;
	opacity: 0.4;
	z-index: 10;
}

.menu {
	position: absolute;
	display: none;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #131419;
	width: 80%;
	height: fit-content;
	max-height: 80%;
	padding: 1%;
	box-shadow: 0px 0px 15px white;
	text-align: center;
	font-size: 135%;
	z-index: 20;
	overflow: hidden;
	overflow-y: auto;
}

.info_btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	top: 0;
	right: -34px;
}

.info_menu {
	max-width: 450px;
	font-size: 100% !important;
	text-align: left;
}

.updates_notes {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 28px;
	border-top: 1px solid #98a7e9;
}

.updates_notes > ul {
	list-style-type: disc;
	padding-left: 16px;
}

.updates_titel {
	margin-top: 16px;
	font-size: 120%;
	font-weight: bold;
}

.stop_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 108px;
	height: 48px;
	font-size: 95%;
	margin-top: 8px;
}

.reset_result {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 32px;
  font-size: 95%;
  margin-bottom: 4px;
}

/* mobile / tablets*/
@media screen and (max-width: 1024px) {
	.enhance_area {
		padding: 1%;
	}

	.success_rate_big {
		display: none;
	}

	.item_stats {
		flex-direction: column;
	}

	.side {
		width: 100%;
	}

	.r_stat_cell {
		justify-content: space-between;
	}

	.l_stat_cell {
		justify-content: space-between;
	}

	.bonuses {
		padding: 1% 5%;
	}

	.bonuses_cell {
		width: 100%;
		height: 52px;
	}

	.success_rate_btn {
		display: flex;
	}

	.result_cell {
		flex-wrap: wrap;
	}

	.result_cell_inner {
		width: 100%;
		justify-content: space-between;
		flex: none;
		margin: 1% 0%;
	}

	.info_menu {
		max-width: unset;
	}
}

@media (orientation: landscape) {
  .result_cell {
		flex-wrap: none;
	}

	.result_cell_inner {
		justify-content: center;
		width: 50%;
		flex: none;
		margin: 1% 0%;
	}
}